/node_modules
/public/hot
/public/storage
/public/css
/public/js
/public/mix-manifest.json
/storage/*.key
/vendor
/report
/docker-data
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.DS_Store
package-lock.json
composer.lock
.idea/
/public/estates
/public/logsmartchoice
./bootstrap
/public/*.js
/public/*.js.*
public/assets/css/styles.min.css
public/assets/css/c_styles.min.css
public/assets/css/t_styles.min.css
.prettierrc.json
public/posts