.nav-header {
    margin-top: 1%;
}

#pre-description {
    overflow: visible;
}

ul.estate-description-content {
    list-style-type: none;
}

.list_property .img-fluid-loading {
    padding-left: 12%;
}

/* .dropdown_user .dropdown_user_content:after,
.dropdown_search .dropdown_search_content:after {
    content: '';
    position: fixed;
    z-index: -1;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    left: 0;
    right: 0;
    top: 90px;
} */

#main .list_estate {
    padding-top: 9%;
}

#main .active-email {
    padding-top: 10%;
}

/* #page .dropdown_user #dropdown_user {
    border: 0;
    margin-right: 0;
} */

.dropdown_search_content .stations .station-item {
    /* white-space: nowrap; */
    text-overflow: ellipsis;
}

.dropdown_search_content .stations .station-item:hover {
    /* white-space: normal; */
    text-overflow: unset;
}

.section_searh.search-show {
    display: block;
}

.section_searh.search-show .box_searchby {
    display: block;
}

.section_searh.search-show .lsc-spinner {
    width: 100%;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

footer .footer_bottom .btn {
    font-size: 0.775em;
}

.curser-pointer {
    cursor: pointer;
}

@media (max-width: 823px) {
    .w_box_simulation_result.show {
        display: block;
    }
}

@media (max-width: 768px) {
    #main .list_estate {
        padding-top: 70px;
    }

    .dropdown_search .dropdown_search_content .card .card-body ul li {
        margin-right: 5px;
        margin-bottom: 5px;
    }

    .section_near_property:before {
        background: none;
    }

    .box_sort li a span {
        font-size: 14px;
    }
    .dropdown_user .dropdown_user_content {
        right: -67px;
    }
    .section_near_property ul.list_property li .property_head .btn_wishlist {
        display: block;
    }
    .section_near_property ul.list_property li .property_img,
    .section_near_property ul.list_property li .property_img img {
        height: 237px;
    }
    .flickity-prev-next-button {
        width: 34px;
        height: 34px;
    }

    .box_top .title,
    .box_top .subtitle {
        text-align: left;
    }

    .container,
    .container-fluid,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl {
        padding-right: 20px;
        padding-left: 20px;
    }
    .section_banner ul {
        padding: 20px 20px;
    }

    .section_banner ul:after {
        width: 90%;
    }

    .box_renovation_specifications .renovation_specifications_table .table td,
    .box_renovation_specifications .renovation_specifications_table .table th {
        font-size: 0.875em;
    }

    .section_property_main .box_calcu {
        padding-bottom: 0;
        margin-bottom: 0;
    }

    .box_renovation_specifications p {
        font-size: 14px;
    }
}

footer .modal_register ul li {
    width: 100%;
    margin-right: 0px;
}

/* @media (max-width: 1000px) {
    .i_white {
        display: none !important;
    }
    .icon-user-white {
        display: none !important;
    }
    .icon-search-white {
        display: none !important;
    }

    header .box_user a {
        color: #212529 !important;
    }
} */

footer .modal-footer {
    display: block;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type='number'] {
    -moz-appearance: textfield;
}

.container .title {
    text-align: center;
}

.container .subtitle-announcement-condition,
.container .subtitle-register {
    text-align: center;
}

.estate_name_title {
    padding-top: 2%;
    font-size: 18px;
    font-weight: bold;
    color: #000000;
}

/* .title_estate_renovation .container .container .subtitle small {
    font-size: 18px;
} */

.title_estate_renovation {
    padding: 20px 0 5px 0;
    font-size: 14px;
}

main .section_property_main {
    padding: 0;
}
/* #### Mobile Phones Portrait #### */
@media screen and (max-device-width: 480px) and (orientation: portrait) {
    .section_accinfo .container {
        padding-left: 30px;
        padding-right: 30px;
    }
}

/* #### Mobile Phones Landscape #### */
@media screen and (max-device-width: 640px) and (orientation: landscape) {
    .section_accinfo .container {
        padding-left: 30px;
        padding-right: 30px;
    }
}

/* #### Mobile Phones Portrait or Landscape #### */
@media screen and (max-device-width: 640px) {
    .section_accinfo .container {
        padding-left: 30px;
        padding-right: 30px;
    }
}

/* #### iPhone 4+ Portrait or Landscape #### */
@media screen and (min-device-width: 320px) and (-webkit-min-device-pixel-ratio: 2) {
    .section_accinfo .container {
        padding-left: 30px;
        padding-right: 30px;
    }
}

/* #### iPhone 5 Portrait or Landscape #### */
@media (device-height: 568px) and (device-width: 320px) and (-webkit-min-device-pixel-ratio: 2) {
    .section_accinfo .container {
        padding-left: 30px;
        padding-right: 30px;
    }
}

/* #### iPhone 6 and 6 plus Portrait or Landscape #### */
@media (min-device-height: 667px) and (min-device-width: 375px) and (-webkit-min-device-pixel-ratio: 3) {
    .section_accinfo .container {
        padding-left: 30px;
        padding-right: 30px;
    }
}

@media (max-width: 375px) {
    .dropdown_user .dropdown_user_content {
        right: -67px;
    }
}

@media (min-width: 1024px) {
    li .property_img,
    li .property_img img {
        height: 185px;
    }
}

.row .box_renovation_specifications .renovation_specifications_table table td {
    font-weight: 800;
}

.map iframe {
    width: 100%;
}

#pie-chart {
    height: 320px !important;
}

.box_renovation_specifications .map {
    padding: 0;
}

.box_template .section_subbanner {
    padding-top: 10px;
}

.box_renovation_specifications .specifications_pic {
    margin-bottom: 10px;
}

small h3 {
    font-size: 16px;
}

.dropdown_search .dropdown_search_content .card .card-body ul li {
    width: 31.33%;
}
.dropdown_search .dropdown_search_content .card .card-body ul li:after {
    right: 4px;
    padding: 0 10px;
}

ul li .search-district,
ul li .search-station {
    cursor: pointer;
}

.renovate_title {
    font-size: 0.65em;
}

.carousel_property .flickity-prev-next-button {
    width: 25px;
    height: 25px;
}

div .container .subtitle small span {
    font-size: 16px;
}

header .dropdown_user,
.section_banner ul li a,
footer .footer_bottom .btn,
.btnSeemore,
header.subheader #dropdown_user,
.section_near_property ul.list_property li .property_img,
.box_toplogin ul li,
.btnsave {
    border-radius: 0;
}

ul.list_property li .property_img p.label_custom {
    font-size: 12px;
}

.box_top .title {
    font-size: 18px;
}

.box_renovation_specifications p {
    font-size: 14px;
}

input:checked + .slider {
    background-color: #2196f3;
}

footer {
    padding-bottom: 61px;
}

.more-info_item div p a:hover {
    color: #000000;
}

.space_div {
    padding: 20px;
    background: white;
}

.top_promotion {
    margin-bottom: 0;
    background: white;
    padding-top: 65px;
}

.property-archive_item * .property_img .total_price {
    font-size: 1rem;
}

.property-archive_head .property_name {
    font-weight: 600;
}

.list_area .more-space {
    margin-bottom: 0;
}
.total_estates_wishlist {
    font-weight: 900;
    font-size: 150%;
}

.top-more-bg {
    background: white;
}

.listing_top .listing_sort ul li button.black {
    font-weight: 900;
}

.group_box {
    margin: auto;
    max-width: 330px;
    display: -webkit-box;
}

.padding-bottom-button {
    padding-bottom: 5%;
}

.btn-save-plan-contact {
    background: #424242;
    color: #fff;
    font-size: 0.875em;
    font-weight: 600;
    padding: 15px 30px;
    min-width: 165px;
}

.btn-save-plan-contact:hover {
    background: #424242;
    color: #fff;
}

.padding-boxtemplate {
    padding-top: 0;
}

.property-archive_item a .property_img img {
    max-width: 1200px;
}

.section_banner .top_action ul li a {
    background: #424242;
    border: solid 1px #f8f9fa;
}

.button-search-condition {
    margin-bottom: 0px;
}

.title-near-estates {
    text-align: center;
    margin-bottom: 30px;
    font-size: 1.125rem;
}

.section_property_main .box_calcu h2 span {
    font-size: 2.5714em;
    color: #f08865;
}
.section_property_main .box_calcu h2 i {
    font-style: normal;
    color: #f08865;
}
.section_property_main .box_calcu h2 .fee {
    font-size: 0.8125em;
}

.top-more-info .more-info_item h2 {
    font-weight: bold;
    font-size: 1.125rem;
    line-height: 21px;
    letter-spacing: 0.05em;
}
@media (max-width: 991px) {
    .top-more-info .more-info_item h2 {
        font-size: 0.875rem;
    }
}
@media (max-width: 767px) {
    .top-more-info .more-info_item h2 {
        font-size: 1.125rem;
    }
}

.title-specifications-table {
    font-size: 1.125rem;
}