.nav-header {
    margin-top: 1%;
}

#pre-description {
    overflow: visible;
}

ul.estate-description-content {
    list-style-type: none;
}

.list_property .img-fluid-loading {
    padding-left: 12%;
}

.dropdown_user .dropdown_user_content:after, .dropdown_search .dropdown_search_content:after {
    content: '';
    position: fixed;
    z-index: -1;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    left: 0;
    right: 0;
    top: 90px;
}

#main .list_estate {
    padding-top: 9%;
}

#page .dropdown_user #dropdown_user {
    border: 0;
    margin-right: 0;
}

#main .box_template {
    padding-top: 90px;
}

.dropdown_search_content .stations .station-item {
    white-space: nowrap; 
    text-overflow: ellipsis;
}

.dropdown_search_content .stations .station-item:hover {
    white-space: normal; 
    text-overflow: unset;
}

footer .footer_bottom .btn {
    font-size: 0.775em
}

.curser-pointer {
    cursor: pointer;
}

@media (max-width: 768px) {
    #main .list_estate {
        padding-top: 70px;
    }

}