.nav-header {
    margin-top: 1%;
}

#pre-description {
    overflow: visible;
}

ul.estate-description-content {
    list-style-type: none;
}

.list_property .img-fluid-loading {
    padding-left: 12%;
}

.dropdown_user .dropdown_user_content:after,
.dropdown_search .dropdown_search_content:after {
    content: '';
    position: fixed;
    z-index: -1;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    left: 0;
    right: 0;
    top: 90px;
}

#main .list_estate {
    padding-top: 9%;
}

#main .active-email {
    padding-top: 10%;
}

/* #page .dropdown_user #dropdown_user {
    border: 0;
    margin-right: 0;
} */

.dropdown_search_content .stations .station-item {
    white-space: nowrap;
    text-overflow: ellipsis;
}

.dropdown_search_content .stations .station-item:hover {
    white-space: normal;
    text-overflow: unset;
}

.section_searh.search-show {
    display: block;
}

.section_searh.search-show .box_searchby {
    display: block;
}

.section_searh.search-show .lsc-spinner {
    width: 100%;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

footer .footer_bottom .btn {
    font-size: 0.775em;
}

.curser-pointer {
    cursor: pointer;
}

@media (max-width: 823px) {
    .w_box_simulation_result.show {
        display: block;
    }
}

@media (max-width: 768px) {
    #main .list_estate {
        padding-top: 70px;
    }
}

footer .modal_register ul li {
    width: 100%;
    margin-right: 0px;
}

footer .modal-footer {
    display: block;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.redirect-login-header {
    padding-left: 2.5%;
}

div .btn-redirect-login {
    margin: 0;
    padding: 10.5px 30px;
}

.table-information-estate {
    padding: 10px;
}