@charset "UTF-8";

a {
    color: #000000;
}

.btn {
    color: #000000;
    border-radius: 0;
}

.btn, a, .btn:hover {
    transition: color .25s ease;
}

.btn:hover, .btn.focus {
    transition: all .3s linear;
}

.btn.focus, .btn:focus {
    box-shadow: none;
}

button:focus {
    outline: none;
}

::-moz-selection {
    background: #F2C94C;
    color: #FFF;
    text-shadow: none;
}

::selection {
    background: #F2C94C;
    color: #FFF;
    text-shadow: none;
}

::-moz-selection {
    background: #F2C94C;
    color: #FFF;
    text-shadow: none;
}

::-webkit-selection {
    background: #F2C94C;
    color: #FFF;
    text-shadow: none;
}

html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    background: #F2F2F2;
    font-family: "Noto Sans JP", "游ゴシック", YuGothic, "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W3", Meiryo, メイリオ, sans-serif;
    line-height: 1.5em;
    font-size: 1rem;
    font-weight: 400;
    color: #4F4F4F;
    -webkit-font-smoothing: subpixel-antialiased;
    -webkit-font-smoothing: antialiased !important;
    -moz-osx-font-smoothing: grayscale;
}

.btn-link {
    color: #000000;
    word-break: normal;
    word-break: break-all;
    word-break: keep-all;
    text-decoration: underline;
}

.btn-link:hover {
    color: #000000;
    text-decoration: underline;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Noto Sans JP", "游ゴシック", YuGothic, "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W3", Meiryo, メイリオ, sans-serif;
    line-height: 1.3em;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    color: #000000;
    margin-bottom: 10px;
    font-size: 1.25em;
    font-weight: 600;
}

*, :before, :after {
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

html, body {
    position: relative;
    height: 100%;
}

p {
    word-wrap: break-word;
}

a:hover {
    text-decoration: none;
    color: #000000;
    transition: all .3s linear;
}

h1 {
    font-size: 2.3125em;
}

h2 {
    font-size: 1.5625em;
}

.red {
    color: #EB5757;
}

.form-control {
    font-size: 0.875em;
    border-color: #BDBDBD;
    height: calc(1.5em + .75rem + 7px);
}

.custom-select:focus {
    border-color: #000000;
}

.form-control:focus {
    box-shadow: none;
    border-color: #000000;
}

.custom-checkbox .custom-control-label::before {
    border-radius: 0;
}

.custom-control-input:focus ~ .custom-control-label::before {
    box-shadow: none;
}

.custom-control-label::before {
    border-color: #EB5757;
}

.custom-control-input:checked ~ .custom-control-label::before {
    background-color: #EB5757;
    border-color: #EB5757;
}

.relative {
    position: relative;
}

b {
    font-weight: 700;
}

section {
    padding: 60px 0;
}

.title {
    text-align: center;
    margin-bottom: 30px;
    font-weight: 500;
}

.subtitle {
    font-size: 1em;
    text-align: center;
    margin-bottom: 50px;
}

header {
    padding: 30px;
    transition: all 0.3s;
}

header #dropdown_user {
    border: 1px solid #fff;
    margin-right: 30px;
}

header .dropdown_user {
    border: 1px solid #fff;
}

header .box_user {
    display: flex;
}

header .box_user a {
    color: #fff;
    display: block;
    padding: 0 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: stretch;
}

header .box_user a span {
    margin-left: 5px;
    font-size: 0.75em;
    font-weight: 600;
}

header .box_user a:last-of-type {
    margin-right: 0;
    border: none;
}

header.compressed {
    background: #000;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
}

header.subheader {
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
    background: #fff;
}

header.subheader .i_white {
    display: none;
}

header.subheader .i_black {
    display: block;
}

header.subheader .dropdown_user {
    border: none;
}

header.subheader #dropdown_user {
    border-color: #000;
    color: #000;
}

header.subheader.compressed {
    background: #000;
}

header.subheader.compressed #dropdown_user {
    border-color: #fff;
    color: #fff;
}

header.subheader.compressed .i_black {
    display: none;
}

header.subheader.compressed .i_white {
    display: block;
}

.navbar {
    padding: 0;
}

.dropdown_user {
    position: relative;
}

.dropdown_user .dropdown_user_content {
    display: none;
    position: absolute;
    right: -66px;
    background: #fff;
    top: 63px;
    min-width: 377px;
}

.dropdown_user .dropdown_user_content:after {
    content: '';
    position: fixed;
    z-index: -1;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    left: 0;
    right: 0;
    top: 100px;
}

.dropdown_user .dropdown_user_content ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: block;
}

.dropdown_user .dropdown_user_content ul li a {
    color: #000;
    text-align: left;
    display: block;
    padding: 15px 22px;
    border-bottom: 1px solid #BDBDBD;
    font-size: 0.875em;
    position: relative;
}

.dropdown_user .dropdown_user_content ul li a:after {
    content: '';
    position: absolute;
    right: 20px;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 8px;
    height: 10px;
    background: url("../images/svg/i_right.svg") no-repeat;
}

.dropdown_user .dropdown_user_content ul li a span {
    width: 20px;
    height: 20px;
    border-radius: 100px;
    background: #EB5757;
    color: #fff;
    font-weight: 600;
    line-height: 1em;
    right: 40px;
    top: 0;
    bottom: 0;
    margin: auto;
    position: absolute;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: stretch;
}

.dropdown-menu {
    z-index: 100;
    border-radius: 0;
    min-width: 377px;
    border: none;
    padding: 0;
    top: 236%;
}

.dropdown-menu .dropdown-item {
    color: #000;
    border-bottom: 1px solid #BDBDBD;
    padding: 15px 22px;
    text-align: left;
    font-size: 0.875em;
    display: block !important;
    position: relative;
    background: #fff;
}

.dropdown-menu .dropdown-item:after {
    content: '';
    position: absolute;
    right: 20px;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 8px;
    height: 10px;
    background: url("../images/svg/i_right.svg") no-repeat;
}

.dropdown-menu .dropdown-item span {
    width: 20px;
    height: 20px;
    border-radius: 100px;
    background: #EB5757;
    color: #fff;
    font-weight: 600;
    line-height: 1em;
    right: 40px;
    top: 0;
    bottom: 0;
    margin: auto;
    position: absolute;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: stretch;
}

.dropdown-menu.show {
    z-index: 100;
}

.dropdown-menu.show:after {
    content: '';
    position: fixed;
    z-index: -1;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    left: 0;
    right: 0;
    top: 100px;
}

.dropdown-menu-right {
    right: -30px;
}

.dropdown_search {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: stretch;
    position: relative;
}

.dropdown_search .dropdown_search_content {
    display: none;
    position: absolute;
    right: -30px;
    top: 63px;
    min-width: 377px;
}

.dropdown_search .dropdown_search_content:after {
    content: '';
    position: fixed;
    z-index: -1;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    left: 0;
    right: 0;
    top: 100px;
}

.dropdown_search .dropdown_search_content .card {
    border-radius: 0;
    border-left: none;
    border-right: none;
}

.dropdown_search .dropdown_search_content .card .card-header {
    background: #fff;
}

.dropdown_search .dropdown_search_content .card .card-header .btn {
    padding: 0;
    font-size: 0.5833em;
    transition: 0.3s;
    background: url("../images/svg/i_up.svg") no-repeat right center;
}

.dropdown_search .dropdown_search_content .card .card-header .btn img {
    margin-right: 10px;
}

.dropdown_search .dropdown_search_content .card .card-header .btn.collapsed {
    background: url("../images/svg/i_right.svg") no-repeat right center;
}

.dropdown_search .dropdown_search_content .card .card-body ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: stretch;
}

.dropdown_search .dropdown_search_content .card .card-body ul li {
    margin-right: 18px;
    margin-bottom: 15px;
    position: relative;
    width: 29.33%;
}

.dropdown_search .dropdown_search_content .card .card-body ul li:after {
    content: '';
    position: absolute;
    right: 10px;
    top: 0;
    bottom: 0;
    margin: auto;
    background: url("../images/svg/i_right.svg") no-repeat 100% 97%;
    width: 8px;
    height: 11px;
}

.dropdown_search .dropdown_search_content .card .card-body ul li:nth-of-type(3n) {
    margin-right: 0;
}

.dropdown_search .dropdown_search_content .card .card-body ul li:hover a {
    background: #f5f0f0;
}

.dropdown_search .dropdown_search_content .card .card-body ul li a {
    color: #000;
    font-size: 0.7em;
    display: block;
    background: #F2F2F2;
    border-radius: 100px;
    padding: 0 20px;
    text-align: left;
}

.navbar-expand-lg .navbar-nav .nav-item:first-of-type .nav-link {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: stretch;
}

.navbar-expand-lg .navbar-nav .nav-item:first-of-type .nav-link img {
    margin-right: 5px;
}

.navbar-expand-lg .navbar-nav .nav-item:last-of-type {
    margin-left: 30px;
}

.navbar-expand-lg .navbar-nav .nav-item:last-of-type .nav-link {
    border: none;
}

.navbar-expand-lg .navbar-nav .nav-item .nav-link {
    border: 1px solid #fff;
    color: #fff;
    font-weight: 500;
    font-size: 0.75em;
    padding: 5px 15px;
    line-height: 1em;
}

.section_banner {
    background-size: cover;
    background-position: center center;
    padding: 0;
    height: 640px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: stretch;
    position: relative;
}

.section_banner:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
}

.section_banner .caption {
    text-align: center;
    position: relative;
    z-index: 10;
}

.section_banner .caption p {
    font-size: 1.125em;
    color: #fff;
    margin-top: 20px;
    margin-bottom: 40px;
    line-height: 1.8em;
}

.section_banner ul {
    position: relative;
    z-index: 10;
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
}

.section_banner ul li {
    margin-right: 15px;
}

.section_banner ul li:last-of-type {
    margin-right: 0;
}

.section_banner ul li:hover a {
    background: #F2C94C;
}

.section_banner ul li a {
    background: #000;
    color: #fff;
    font-weight: 600;
    padding: 12.5px 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: stretch;
}

.section_banner ul li a img {
    margin-right: 10px;
}

ul.list_property {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: stretch;
}

ul.list_property li {
    margin-right: 20px;
    margin-bottom: 20px;
    width: 49%;
}

ul.list_property li:nth-of-type(2n) {
    margin-right: 0;
}

ul.list_property li .property_img {
    position: relative;
    width: 100%;
    height: 359px;
}

ul.list_property li .property_img * {
    transition: 0.3s;
}

ul.list_property li .property_img img {
    width: 100%;
    height: 359px;
    -o-object-fit: cover;
       object-fit: cover;
}

ul.list_property li .property_img p {
    margin-bottom: 0;
    color: #fff;
    padding: 5px 10px;
}

ul.list_property li .property_img p.total_price {
    background: #000;
    position: absolute;
    left: 0;
    bottom: 0;
    font-weight: 600;
    font-size: 1.5em;
}

ul.list_property li .property_img p.total_price span {
    font-size: 0.6em;
    font-weight: 400;
}

ul.list_property li .property_img p.total_price span.sub {
    font-size: 0.4167em;
}

ul.list_property li .property_img p.label_custom {
    position: absolute;
    top: -4px;
    right: -3px;
    background: #BB6BD9;
    font-size: 0.625em;
    font-weight: 600;
    text-align: center;
    line-height: 1.5em;
    padding: 10px;
}

ul.list_property li .property_img p.label_custom.renovated {
    background: #F2C94C;
}

ul.list_property li .property_head {
    border: 1px solid #BDBDBD;
    border-top: none;
    padding: 10px;
    background: #fff;
}

ul.list_property li .property_head p {
    margin-bottom: 0;
}

ul.list_property li .property_head p.property_name {
    font-size: 1.125em;
    margin-bottom: 5px;
}

ul.list_property li .property_head .property_address {
    margin-right: 15px;
}

ul.list_property li .property_head .property_address, ul.list_property li .property_head.property_square {
    font-size: 0.875em;
}

ul.list_property li .property_head .btn_wishlist {
    float: right;
    width: 30px;
    height: 30px;
    border-radius: 100px;
    background-color: #F2F2F2;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3c?xml version='1.0' encoding='utf-8'?%3e%3c!-- Generator: Adobe Illustrator 25.2.3, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3e%3csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 18 15' style='enable-background:new 0 0 18 15;' xml:space='preserve'%3e%3cstyle type='text/css'%3e .st0%7bfill:%23FFFFFF;%7d .st1%7bfill:url(%23SVGID_1_);%7d %3c/style%3e%3cpath class='st0' d='M16.6,1.3c-1.7-1.7-4.5-1.7-6.3,0l-1,1c-0.2,0.2-0.6,0.2-0.8,0l-1-1C5.8-0.4,3-0.4,1.3,1.3 c-1.7,1.7-1.7,4.5,0,6.3l7.2,7.2c0.2,0.2,0.6,0.2,0.8,0l7.3-7.3C18.4,5.8,18.4,3,16.6,1.3z'/%3e%3clinearGradient id='SVGID_1_' gradientUnits='userSpaceOnUse' x1='8.9658' y1='16' x2='8.9658' y2='1' gradientTransform='matrix(1 0 0 -1 0 16)'%3e%3cstop offset='0' style='stop-color:%23FFFFFF'/%3e%3cstop offset='1' style='stop-color:%23FFFFFF;stop-opacity:0'/%3e%3c/linearGradient%3e%3cpath class='st1' d='M16.6,1.3c-1.7-1.7-4.5-1.7-6.3,0l-1,1c-0.2,0.2-0.6,0.2-0.8,0l-1-1C5.8-0.4,3-0.4,1.3,1.3 c-1.7,1.7-1.7,4.5,0,6.3l7.2,7.2c0.2,0.2,0.6,0.2,0.8,0l7.3-7.3C18.4,5.8,18.4,3,16.6,1.3z'/%3e%3c/svg%3e ");
    background-size: 60%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: center;
    align-content: stretch;
}

ul.list_property li .property_head .btn_wishlist:hover {
    background-image: url("data:image/svg+xml;charset=UTF-8,%3c?xml version='1.0' encoding='utf-8'?%3e%3c!-- Generator: Adobe Illustrator 25.2.3, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3e%3csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 18 15' style='enable-background:new 0 0 18 15;' xml:space='preserve'%3e%3cstyle type='text/css'%3e .st0%7bfill:%23FFFFFF;%7d .st1%7bfill:%23FF4572;%7d %3c/style%3e%3cpath class='st0' d='M16.6,1.3c-1.7-1.7-4.5-1.7-6.3,0l-1,1c-0.2,0.2-0.6,0.2-0.8,0l-1-1C5.8-0.4,3-0.4,1.3,1.3 c-1.7,1.7-1.7,4.5,0,6.3l7.2,7.2c0.2,0.2,0.6,0.2,0.8,0l7.3-7.3C18.4,5.8,18.4,3,16.6,1.3z'/%3e%3cpath class='st1' d='M16.6,1.3c-1.7-1.7-4.5-1.7-6.3,0l-1,1c-0.2,0.2-0.6,0.2-0.8,0l-1-1C5.8-0.4,3-0.4,1.3,1.3 c-1.7,1.7-1.7,4.5,0,6.3l7.2,7.2c0.2,0.2,0.6,0.2,0.8,0l7.3-7.3C18.4,5.8,18.4,3,16.6,1.3z'/%3e%3c/svg%3e ");
}

ul.list_property li .property_head .btn_wishlist.on {
    background-image: url("data:image/svg+xml;charset=UTF-8,%3c?xml version='1.0' encoding='utf-8'?%3e%3c!-- Generator: Adobe Illustrator 25.2.3, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3e%3csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 18 15' style='enable-background:new 0 0 18 15;' xml:space='preserve'%3e%3cstyle type='text/css'%3e .st0%7bfill:%23FFFFFF;%7d .st1%7bfill:%23FF4572;%7d %3c/style%3e%3cpath class='st0' d='M16.6,1.3c-1.7-1.7-4.5-1.7-6.3,0l-1,1c-0.2,0.2-0.6,0.2-0.8,0l-1-1C5.8-0.4,3-0.4,1.3,1.3 c-1.7,1.7-1.7,4.5,0,6.3l7.2,7.2c0.2,0.2,0.6,0.2,0.8,0l7.3-7.3C18.4,5.8,18.4,3,16.6,1.3z'/%3e%3cpath class='st1' d='M16.6,1.3c-1.7-1.7-4.5-1.7-6.3,0l-1,1c-0.2,0.2-0.6,0.2-0.8,0l-1-1C5.8-0.4,3-0.4,1.3,1.3 c-1.7,1.7-1.7,4.5,0,6.3l7.2,7.2c0.2,0.2,0.6,0.2,0.8,0l7.3-7.3C18.4,5.8,18.4,3,16.6,1.3z'/%3e%3c/svg%3e ");
}

.section_near_property ul.list_property li {
    width: 23.5%;
}

.section_near_property ul.list_property li:nth-of-type(2n) {
    margin-right: 20px;
}

.section_near_property ul.list_property li:nth-of-type(4n) {
    margin-right: 0;
}

.section_near_property ul.list_property li .property_img {
    height: 173px;
}

.section_near_property ul.list_property li .property_img img {
    height: 173px;
}

.section_near_property ul.list_property li .property_head p.property_name {
    font-size: 1em;
}

.btnSeemore {
    border: 1px solid #EB5757;
    padding: 12.5px 30px;
    color: #EB5757;
    min-width: 350px;
    font-size: 1.125em;
    font-weight: 500;
}

.btnSeemore:hover {
    background: #EB5757;
    color: #fff;
}

footer {
    background: #000;
    padding: 40px 0 70px;
}

footer hr {
    border-color: #828282;
}

footer ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    align-content: stretch;
}

footer ul li {
    margin-right: 20px;
}

footer ul li:last-of-type {
    margin-right: 0;
}

footer ul li:hover a {
    color: #EB5757;
}

footer ul li a {
    color: #fff;
    font-size: 0.75em;
}

footer p:last-of-type {
    margin-top: 15px;
    color: #828282;
}

footer p:last-of-type a {
    color: #828282;
}

footer .footer_bottom {
    padding: 10px 0;
    background: #fff;
    text-align: center;
}

footer .footer_bottom .btn {
    background: #EB5757;
    color: #fff;
    margin-right: 20px;
    border-radius: 2px;
    padding: 12.5px 40px;
    min-width: 300px;
    font-size: 0.875em;
    font-weight: 600;
}

footer .footer_bottom .btn:hover {
    background: #F2C94C;
}

footer .footer_bottom .btn:last-of-type {
    margin-right: 0;
}

footer .footer_bottom .btn img {
    margin-right: 10px;
}

.box_template {
    padding-top: 100px;
}

.box_top {
    background: #fff;
    padding-bottom: 10px;
    padding-top: 20px;
    margin-bottom: 10px;
}

.box_sort {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
}

.box_sort li:nth-of-type(2) a {
    border-left: none;
}

.box_sort li:last-of-type {
    margin-left: 25px;
}

.box_sort li:last-of-type a {
    color: #fff;
    background: #EB5757;
    border-color: #EB5757;
}

.box_sort li a {
    display: block;
    border: 1px solid #BDBDBD;
    background: #fff;
    padding: 5px 15px;
    font-size: 0.875em;
}

.box_sort li a img {
    margin-right: 5px;
}

.carousel_property .carousel-main {
    margin-bottom: 20px;
}

.carousel_property .carousel-cell {
    width: 100%;
    height: 640px;
}

.carousel_property .carousel-cell img {
    width: 100%;
    height: 640px;
    -o-object-fit: cover;
       object-fit: cover;
}

.carousel_property .carousel-nav .carousel-cell {
    width: 466px;
    height: 310px;
    margin-right: 20px;
}

.carousel_property .carousel-nav .carousel-cell img {
    height: 310px;
}

.section_property_main .container {
    max-width: 941px;
}

.section_property_main .box_calcu {
    background: #fff;
    padding: 25px;
    margin-bottom: 80px;
}

.section_property_main .box_calcu h1 {
    background: #F2F2F2;
    padding: 20px;
    text-align: center;
    font-size: 0.875em;
    margin-bottom: 30px;
}

.section_property_main .box_calcu h1 span {
    font-size: 2.5714em;
}

.section_property_main .box_calcu .frm_calcu h5 {
    font-size: 1.5em;
}

.section_property_main .box_calcu .frm_calcu h5 span {
    font-weight: normal;
    font-size: 0.5833em;
    width: auto;
}

.section_property_main .box_calcu .frm_calcu .repayment_amount {
    max-width: 162px;
}

.section_property_main .box_calcu .frm_calcu .title_simulation_result {
    width: auto;
    display: block;
    text-align: center;
    background: #F2C94C;
    border-radius: 100px;
    color: #fff;
    font-size: 1.125em;
    padding: 8px 15px;
    position: relative;
    font-weight: 600;
    max-width: 300px;
    margin: 0 auto 22px;
}

.section_property_main .box_calcu .frm_calcu .title_simulation_result:after {
    top: 100%;
    left: 50%;
    border: solid transparent;
    content: "";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(136, 183, 213, 0);
    border-top-color: #F2C94C;
    border-width: 7px;
    margin-left: -7px;
}

.section_property_main .box_calcu .frm_calcu .box_simulation_result {
    color: #000;
    border: 4px solid #E0E0E0;
    padding: 30px 20px 15px;
    margin-bottom: 25px;
}

.section_property_main .box_calcu .frm_calcu .box_simulation_result h2 {
    font-size: 2.25em;
    margin-bottom: 0;
    color: #EB5757;
    text-align: center;
    line-height: .5em;
}

.section_property_main .box_calcu .frm_calcu .box_simulation_result h2 span {
    font-size: 0.3889em;
}

.section_property_main .box_calcu .frm_calcu .box_simulation_result h4 {
    margin-bottom: 0;
    font-size: 1.125em;
}

.section_property_main .box_calcu .frm_calcu .box_simulation_result p {
    margin-bottom: 0;
    font-size: 0.875em;
}

.section_property_main .box_calcu .frm_calcu .box_simulation_result p span {
    font-size: 1.5em;
}

.section_property_main .box_calcu .frm_calcu label {
    color: #000;
    font-size: 0.875em;
}

.section_property_main .box_calcu .frm_calcu span.sub {
    width: 50px;
    font-size: 0.875em;
}

.section_property_main .box_calcu .frm_calcu .form-control {
    color: #EB5757;
    font-weight: 600;
    text-align: right;
    font-size: 1.5em;
    background: #F2F2F2;
    border-color: #BDBDBD;
    border-radius: 0;
    height: calc(1.5em + .75rem + -4px);
}

.section_property_main .box_calcu .frm_calcu ::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #EB5757;
}

.section_property_main .box_calcu .frm_calcu ::-moz-placeholder {
    /* Firefox 19+ */
    color: #EB5757;
}

.section_property_main .box_calcu .frm_calcu :-ms-input-placeholder {
    /* IE 10+ */
    color: #EB5757;
}

.section_property_main .box_calcu .frm_calcu :-moz-placeholder {
    /* Firefox 18- */
    color: #EB5757;
}

.irs--flat .irs-bar {
    height: 17px;
    border-radius: 100px;
}

.irs--flat .irs-line {
    height: 17px;
    border-radius: 100px;
    background: #F2F2F2;
}

.irs--flat .irs-handle {
    width: 17px;
    height: 17px;
    top: 25px;
    background: #EB5757;
    border-radius: 100px;
}

.irs--flat .irs-handle:before {
    content: '';
    position: absolute;
    z-index: 20;
    left: -2px;
    right: 0;
    top: -3px;
    bottom: 0;
    margin: auto;
    background: url("../images/svg/line.svg") no-repeat;
    width: 8px;
    height: 14px;
}

.irs--flat .irs-handle i:first-child {
    width: 30px;
    height: 30px;
    border-radius: 100px;
    background: #fff;
    border: 1px solid #BDBDBD;
    top: -8px;
    left: -8px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
}

.irs-from, .irs-to, .irs-single {
    top: -5px;
}

.irs--flat .irs-handle.state_hover > i:first-child, .irs--flat .irs-handle:hover > i:first-child {
    background-color: #fff;
}

.irs--flat .irs-min, .irs--flat .irs-max {
    top: inherit;
    bottom: -48px;
}

.box_renovation_specifications p {
    font-size: 0.875em;
}

.box_renovation_specifications .specifications_pic {
    margin-bottom: 40px;
}

.box_renovation_specifications .specifications_pic img {
    width: 100%;
}

.box_renovation_specifications .specifications_pic p {
    margin-top: 10px;
    margin-bottom: 0;
}

.box_renovation_specifications .renovation_specifications_table {
    background: #fff;
}

.box_renovation_specifications .renovation_specifications_table table th, .box_renovation_specifications .renovation_specifications_table table td {
    font-size: 0.875em;
}

.box_renovation_specifications .renovation_specifications_table table th {
    font-weight: 300;
}

.box_renovation_specifications .renovation_specifications_table table td {
    font-weight: 500;
}

.box_renovation_specifications .renovation_specifications_table .table th, .box_renovation_specifications .renovation_specifications_table .table td {
    font-size: 0.875em;
}

.box_renovation_specifications .renovation_specifications_table .table th {
    font-weight: 300;
}

.box_renovation_specifications .renovation_specifications_table .table td {
    font-weight: 500;
}

.box_renovation_specifications .table-bordered td, .box_renovation_specifications .table-bordered th {
    border: none;
}

.box_renovation_specifications .map {
    padding: 0 20px;
}

.box_renovation_specifications .btn_viewmap {
    color: #EB5757;
    text-decoration: underline;
}

.section_pass {
    padding-bottom: 100px;
}

.section_pass .container {
    max-width: 675px;
}

.section_pass .frm_settingpass label {
    font-size: 0.75em;
    font-weight: 300;
}

.section_pass .frm_settingpass label .red {
    color: #EB5757;
}

.section_pass .frm_settingpass p {
    font-size: 0.875em;
}

.section_pass .frm_settingpass p a {
    color: #EB5757;
    text-decoration: underline;
    font-weight: 500;
}

.btnsave {
    background: #EB5757;
    width: 100%;
    color: #fff;
    padding: 13.5px 30px;
    margin-top: 10px;
    font-size: 0.875em;
}

.btnsave:hover {
    background: #000;
    color: #fff;
}

.section_notice {
    margin-bottom: 100px;
}

.section_notice .container {
    max-width: 755px;
}

.section_notice .box_notice_item {
    background: #fff;
    padding: 15px;
    border-bottom: 1px solid #BDBDBD;
    position: relative;
}

.section_notice .box_notice_item.new .box_notice_img span {
    color: #EB5757;
    border-color: #EB5757;
}

.section_notice .box_notice_item.new .box_notice_content p:nth-of-type(1) {
    color: #EB5757;
}

.section_notice .box_notice_item.new .box_notice_content p:last-of-type {
    color: #EB5757;
}

.section_notice .box_notice_item .btn_del {
    position: absolute;
    right: 20px;
    bottom: 20px;
    width: 40px;
    height: 40px;
    border-radius: 100px;
    background: #F2F2F2;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: stretch;
}

.section_notice .box_notice_item .box_notice_img {
    position: relative;
    width: 100%;
    height: 222px;
}

.section_notice .box_notice_item .box_notice_img img {
    width: 100%;
    height: 222px;
    -o-object-fit: cover;
       object-fit: cover;
}

.section_notice .box_notice_item .box_notice_img span {
    position: absolute;
    left: 0;
    top: 0;
    background: #fff;
    display: inline-block;
    color: #828282;
    padding: 3px 5px;
    font-size: 0.75em;
    font-weight: 600;
    border: 1px solid #828282;
}

.section_notice .box_notice_item .box_notice_content {
    padding-left: 22px;
}

.section_notice .box_notice_item .box_notice_content p {
    color: #000;
    margin-bottom: 0;
}

.section_notice .box_notice_item .box_notice_content p:nth-of-type(1) {
    color: #828282;
    font-size: 0.625em;
}

.section_notice .box_notice_item .box_notice_content p:nth-of-type(2) {
    margin-bottom: 10px;
}

.section_notice .box_notice_item .box_notice_content p:nth-of-type(3) {
    font-size: 0.75em;
    line-height: 1em;
}

.section_notice .box_notice_item .box_notice_content p:last-of-type {
    color: #828282;
    font-size: 0.75em;
}

.box_toplogin ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
}

.box_toplogin ul li {
    flex: 1 1 auto;
    background: #fff;
    border-radius: 4px;
}

.box_toplogin ul li:first-of-type {
    margin-right: 15px;
}

.box_toplogin ul li a {
    font-size: 0.875em;
    display: block;
    padding: 11px 15px;
    position: relative;
}

.box_toplogin ul li a img {
    position: absolute;
    left: 20px;
    top: 0;
    bottom: 0;
    margin: auto;
}

.box_toplogin .or {
    margin: 20px 0;
    position: relative;
    text-align: center;
}

.box_toplogin .or:before {
    content: '';
    width: 100%;
    height: 1px;
    background: #BDBDBD;
    position: absolute;
    left: 0;
    top: 20px;
}

.box_toplogin .or span {
    background: #F2F2F2;
    display: inline-block;
    position: relative;
    padding: 5px 10px;
}

.section_accinfo .container {
    max-width: 755px;
}

.section_accinfo h4 {
    background: #F2F2F2;
    color: #828282;
    padding: 10px 20px;
    font-size: 0.75em;
    margin-bottom: 0;
    margin-top: 15px;
}

.section_accinfo h4 span {
    color: #EB5757;
}

.section_accinfo p {
    margin-bottom: 0;
    font-size: 0.8em;
    padding: 10px 0;
}

.section_accinfo p.head {
    font-size: 0.75em;
    color: #828282;
    margin-left: 20px;
}

.section_accinfo .btnedit {
    color: #EB5757;
    border: 1px solid #EB5757;
    font-size: 0.875em;
    border-radius: 4px;
    padding: 5px 10px;
    float: right;
    margin-right: 20px;
}

.section_accinfo .btnedit:hover {
    background: #EB5757;
    color: #fff;
    border-color: #EB5757;
}

.frm_accinfo h4 {
    margin-bottom: 15px;
}

.box_date {
    display: flex;
    align-items: center;
    position: relative;
}

.box_date:after {
    content: '';
    position: absolute;
    right: 40px;
    top: 0;
    bottom: 0;
    margin: auto;
    background: url("../images/svg/i_down2.svg") no-repeat;
    width: 8px;
    height: 8px;
}

.box_date span {
    margin-left: 10px;
}

.custom-select {
    background-image: url("data:image/svg+xml;charset=UTF-8,%3c?xml version='1.0' encoding='utf-8'?%3e%3c!-- Generator: Adobe Illustrator 25.3.1, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3e%3csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 4 5' style='enable-background:new 0 0 4 5;' xml:space='preserve'%3e%3cstyle type='text/css'%3e .st0%7bfill:%23EB5757;%7d %3c/style%3e%3cpath class='st0' d='M2,0L0,2h4L2,0z M2,5L0,3h4L2,5z'/%3e%3c/svg%3e ");
}

.frm_contact .custom-select {
    font-size: 0.875em;
    border-color: #BDBDBD;
    height: calc(1.5em + .75rem + 7px);
}

.frm_contact .box_date:after {
    right: 15px;
}

.list_area {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: stretch;
}

.list_area li {
    width: 115px;
    margin-bottom: 20px;
}

.list_area li label {
    font-size: 0.875em;
}

.box_select {
    position: relative;
}

.box_select:after {
    content: '⁓';
    position: absolute;
    right: -22px;
    top: 5px;
    bottom: 0;
    margin: auto;
}

#chartdiv {
    width: 100%;
    height: 213px;
}

.box_showmore {
    text-align: center;
}

.box_showmore span {
    font-size: 0.875em;
    display: block;
    margin-top: 5px;
}

.btnshowhide {
    background: url("../images/svg/showhide_down.svg") no-repeat center;
    text-align: center;
    display: block;
    position: relative;
    margin-top: 50px;
}

.btnshowhide:after {
    content: 'お支払いの詳細を見る';
    position: absolute;
    top: -30px;
    left: 0;
    right: 0;
    margin: auto;
    font-size: 0.875em;
}

.btnshowhide.show {
    background-image: url("../images/svg/showhide.svg");
    margin-top: 0;
}

.btnshowhide.show:after {
    opacity: 0;
}

.section_contact .container {
    max-width: 675px;
}

.frm_contact label {
    font-size: 0.875em;
    font-weight: 300;
    margin-bottom: 0;
}

.frm_contact textarea {
    height: 90px;
}

.frm_contact .primary_policy {
    font-size: 0.875em;
}

.frm_contact .primary_policy a {
    color: #EB5757;
}

.frm_contact .btnsave {
    position: relative;
}

.frm_contact .btnsave img {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 15px;
    margin: auto;
}

.modal_register {
    text-align: center;
}

.modal_register .modal-content {
    border-radius: 0;
    border-color: transparent;
}

.modal_register .modal-body {
    padding: 30px;
}

.modal_register .modal-title {
    font-size: 0.875em;
}

.modal_register .modal-header {
    justify-content: space-around;
}

.modal_register .modal-header .close {
    position: absolute;
    right: 15px;
    top: 15px;
}

.modal_register ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.modal_register ul li {
    display: block;
    margin-bottom: 10px;
}

.modal_register ul li a {
    display: block;
    background: #f2f2f2;
    padding: 10px;
    border-radius: 3px;
    font-weight: 700;
}

.modal_register ul li a img {
    margin-right: 5px;
}

.modal_register p {
    font-size: 0.875em;
}

.modal_register p.termofuse a {
    text-decoration: underline;
    color: #EB5757;
}

.modal_register .btn_register {
    background: #f2f2f2;
    font-weight: 700;
    padding: 10px;
    border-radius: 3px;
    display: block;
    margin-top: 15px;
}

.modal_register .modal-footer {
    justify-content: space-around;
    padding: 30px;
}

.modal_register .modal-footer p a {
    text-decoration: underline;
    color: #EB5757;
}

.box_confirm {
    background: #fff;
    padding: 30px;
}

.box_confirm .btn {
    background: #EB5757;
    width: 100%;
    color: #fff;
    padding: 13.5px 30px;
    margin-top: 10px;
    font-size: 0.875em;
    position: relative;
}

.box_confirm .btn:hover {
    background: #000;
}

.box_confirm .btn.btn_back img {
    left: 15px;
}

.box_confirm .btn.btn_send img {
    right: 15px;
}

.box_confirm .btn img {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
}

.section_searh {
    background: #fff;
    display: none;
}

.section_searh .box_searchby {
    display: none;
}

.section_searh .box_searchby h3 {
    margin-bottom: 15px;
}

.section_searh .box_searchby h3 a {
    display: block;
    background: #EB5757;
    color: #fff;
    border-radius: 3px;
    text-align: center;
    padding: 10px;
    font-weight: 600;
    position: relative;
}

.section_searh .box_searchby h3 a:after {
    content: '-';
    position: absolute;
    right: 15px;
    top: 2px;
    margin: auto;
    width: 10px;
    height: 10px;
    font-size: 2em;
    line-height: 1em;
    font-weight: 400;
}

.section_searh .box_searchby h3 a.collapsed:after {
    content: '+';
    top: 5px;
}

.section_searh .box_searchby ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: stretch;
}

.section_searh .box_searchby ul.show {
    display: none;
}

.section_searh .box_searchby ul li {
    min-width: 100px;
    margin-right: 18px;
    margin-bottom: 15px;
    display: inline-block;
}

.section_searh .box_searchby ul li:hover a {
    background: #EB5757;
    color: #fff;
}

.section_searh .box_searchby ul li a {
    display: block;
    color: #000;
    font-size: 0.7em;
    display: block;
    background: #F2F2F2;
    border-radius: 100px;
    padding: 5px 20px;
    text-align: center;
}

@media (min-width: 1200px) {
    .container {
        max-width: 1130px;
    }
}

@media (max-width: 1200px) {
    ul.list_property li {
        width: 48%;
    }

    .section_near_property ul.list_property li {
        width: 23%;
    }
}

@media (max-width: 1024px) {
    ul.list_property li {
        width: 48.5%;
    }

    .section_near_property ul.list_property li {
        width: 48.5%;
    }

    .section_near_property ul.list_property li:nth-of-type(2n) {
        margin-right: 0;
    }

    .section_near_property ul.list_property li .property_img {
        height: 359px;
    }

    .section_near_property ul.list_property li .property_img img {
        height: 359px;
    }
}

@media (min-width: 992px) {
    .navbar-expand-lg .navbar-toggler {
        display: block;
    }
}

@media (max-width: 823px) {
    ul.list_property li {
        width: 48%;
    }

    .section_near_property ul.list_property li {
        width: 48%;
    }

    .section_near_property ul.list_property li:nth-of-type(2n) {
        margin-right: 0;
    }

    .w_box_simulation_result {
        display: none;
        padding: 0 20px;
    }
}

@media (max-width: 768px) {
    .container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl {
        padding-right: 10px;
        padding-left: 10px;
    }

    .row {
        margin-right: -10px;
        margin-left: -10px;
    }

    .col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
        padding-right: 10px;
        padding-left: 10px;
    }

    .box_confirm {
        padding: 15px;
    }

    section {
        padding: 30px 0;
    }

    .title {
        margin-bottom: 30px;
        font-size: 1em;
    }

    .subtitle {
        margin-bottom: 30px;
        line-height: 1.3em;
    }

    .box_template {
        padding-top: 51px;
    }

    .btnSeemore {
        min-width: 200px;
        font-size: 0.75em;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .navbar-brand {
        padding: 0;
        margin-right: 0;
        position: relative;
    }

    .navbar {
        padding-top: 16px;
        padding-bottom: 16px;
    }

    header {
        position: relative;
        padding: 0 15px;
        background: #fff;
    }

    header.subheader .navbar-brand img {
        width: 134px;
    }

    header.subheader #dropdown_user {
        border-color: transparent;
    }

    header.subheader.compressed #dropdown_user {
        border-color: transparent;
    }

    header.subheader .dropdown_user .dropdown_user_content {
        top: 34px;
    }

    header.subheader .dropdown_search .dropdown_search_content {
        top: 34px;
    }

    header.compressed {
        background: #fff;
    }

    header #dropdown_user {
        margin-right: 0;
    }

    header .box_user {
        display: flex;
    }

    header .box_user a {
        margin-right: 10px;
    }

    header .box_user a:last-of-type {
        margin-right: 0;
    }

    header .box_user span {
        display: none;
    }

    .dropdown-menu {
        top: 197%;
    }

    .dropdown-menu.show:after {
        top: 56px;
    }

    .dropdown_user .dropdown_user_content {
        min-width: 326px;
        top: 37px;
        right: -51px;
        border-top: 1px solid #BDBDBD;
    }

    .dropdown_user .dropdown_user_content:after {
        top: 56px;
    }

    .dropdown_search .dropdown_search_content {
        min-width: 326px;
        top: 37px;
        right: -21px;
        border-top: 1px solid #BDBDBD;
    }

    .dropdown_search .dropdown_search_content:after {
        top: 56px;
    }

    .dropdown_search .dropdown_search_content .card .card-body {
        padding: 15px;
    }

    .dropdown_search .dropdown_search_content .card .card-body ul li {
        margin-right: 10px;
        margin-bottom: 10px;
    }

    .dropdown_search .dropdown_search_content .card .card-body ul li a {
        padding: 0 10px;
    }

    .section_banner {
        margin-top: 56px;
        height: 325px;
    }

    .section_banner ul {
        position: absolute;
        bottom: 0;
        background: #fff;
        padding: 20px 10px;
        width: 100%;
    }

    .section_banner ul:after {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        width: 95%;
        height: 1px;
        background: #BDBDBD;
    }

    .section_banner ul li {
        margin-right: 12px;
        flex: 1 1 auto;
    }

    .section_banner ul li a {
        padding: 5px;
        font-size: 0.6875em;
        border: 1px solid #BDBDBD;
        background: #fff;
        color: #4F4F4F;
        padding: 5px;
    }

    footer .logo_footer img {
        width: 150px;
    }

    footer ul:first-of-type {
        display: block;
    }

    footer ul:first-of-type li {
        display: block;
        margin-right: 0;
    }

    footer ul li a {
        font-size: 0.5625em;
    }

    footer .footer_bottom {
        padding: 10px;
    }

    footer .footer_bottom .btn {
        min-width: auto;
        padding-left: 30px;
        padding-right: 30px;
        margin-right: 5px;
        width: 48%;
    }

    footer p:last-of-type {
        margin-top: 40px;
    }

    footer p:last-of-type small {
        font-size: 10px;
    }

    ul.list_property li {
        width: 100%;
        margin-right: 0;
        margin-bottom: 10px;
    }

    ul.list_property li .property_img {
        height: 237px;
    }

    ul.list_property li .property_img p.total_price {
        font-size: 0.85em;
    }

    ul.list_property li .property_img p.total_price span {
        font-size: 0.6em;
    }

    ul.list_property li .property_img p.total_price span.sub {
        font-size: .5em;
    }

    ul.list_property li .property_img p.label_custom {
        padding: 5px;
        font-size: 0.375em;
    }

    ul.list_property li .property_img img {
        height: 237px;
    }

    ul.list_property li .property_head.property_name {
        font-size: 1em;
    }

    .section_near_property ul.list_property li {
        width: 47.5%;
        margin-right: 15px;
    }

    .section_near_property ul.list_property li:nth-of-type(2n) {
        margin-right: 0;
        margin-bottom: 10px;
    }

    .section_near_property ul.list_property li .property_img {
        height: 113px;
    }

    .section_near_property ul.list_property li .property_img img {
        height: 113px;
    }

    .section_near_property ul.list_property li .property_img p.total_price {
        padding-top: 0;
        padding-bottom: 0;
    }

    .section_near_property ul.list_property li .property_head {
        border: none;
        padding-top: 0;
        padding-left: 0;
        right: 0;
    }

    .section_near_property ul.list_property li .property_head p.property_name {
        display: none;
    }

    .section_near_property ul.list_property li .property_head .property_address {
        font-size: 0.625em;
        margin-right: 5px;
    }

    .section_near_property ul.list_property li .property_head .property_square {
        font-size: 0.625em;
    }

    .section_near_property ul.list_property li .property_head .btn_wishlist {
        display: none;
    }

    .box_sort li {
        flex: 1 1 auto;
    }

    .box_sort li a {
        padding-left: 8px;
        padding-right: 8px;
        font-size: 0.6em;
    }

    .carousel_property .carousel-main {
        margin-bottom: 6px;
    }

    .carousel_property .carousel-cell {
        height: 225px;
    }

    .carousel_property .carousel-cell img {
        height: 225px;
    }

    .carousel_property .carousel-nav .carousel-cell {
        width: 120px;
        height: 80px;
        margin-right: 6px;
    }

    .carousel_property .carousel-nav .carousel-cell img {
        height: 80px;
    }

    .section_property_main .box_calcu {
        padding: 10px;
        padding-bottom: 40px;
        margin-bottom: 40px;
    }

    .section_property_main .box_calcu h1 {
        margin-bottom: 20px;
        padding: 20px 5px;
    }

    .section_property_main .box_calcu .frm_calcu .box_simulation_result {
        padding: 15px 5px;
    }

    .section_property_main .box_calcu .frm_calcu .box_simulation_result h2 {
        font-size: 1.875em;
    }

    .section_property_main .box_calcu .frm_calcu .box_simulation_result h4 {
        font-size: 1em;
    }

    .section_property_main .box_calcu .frm_calcu .box_simulation_result p {
        font-size: 0.7em;
    }

    .section_property_main .box_calcu .frm_calcu label {
        font-size: 0.5625em;
        line-height: 1em;
    }

    .section_property_main .box_calcu .frm_calcu h5 {
        font-size: 1.125em;
        margin-bottom: 0;
    }

    .section_property_main .box_calcu .frm_calcu h5 span {
        font-size: .8em;
    }

    .section_property_main .box_calcu .frm_calcu .form-control {
        font-size: 1.1em;
    }

    .section_property_main .box_calcu .frm_calcu .form-control.repayment {
        width: 200px;
    }

    .box_renovation_specifications p {
        font-size: 0.75em;
    }

    .section_pass {
        padding-bottom: 184px;
    }

    .section_notice {
        padding: 0;
        margin: 0;
    }

    .section_notice .box_notice_item {
        margin: 0 -15px;
        padding: 10px 25px;
        overflow: hidden;
        transition: all 0.3s;
    }

    .section_notice .box_notice_item:first-of-type {
        border-top: 1px solid #BDBDBD;
    }

    .section_notice .box_notice_item .box_notice_img {
        height: 79px;
    }

    .section_notice .box_notice_item .box_notice_img img {
        height: 79px;
    }

    .section_notice .box_notice_item .box_notice_img span {
        line-height: 1em;
        font-size: 0.5em;
    }

    .section_notice .box_notice_item .box_notice_content {
        padding-left: 10px;
        padding-right: 10px;
    }

    .section_notice .box_notice_item .box_notice_content p {
        font-size: 0.875em;
        line-height: 1.4em;
    }

    .section_notice .box_notice_item .box_notice_content p:nth-of-type(2) {
        margin-bottom: 5px;
    }

    .section_notice .box_notice_item .box_notice_content p:nth-of-type(3) {
        font-size: 0.625em;
    }

    .section_notice .box_notice_item .box_notice_content p:last-of-type {
        font-size: 0.625em;
        margin-top: 3px;
    }

    .section_notice .box_notice_item .btn_del {
        right: 10px;
        bottom: 10px;
        width: 30px;
        height: 30px;
    }

    .section_notice .box_notice_item .btn_del img {
        width: 60%;
    }

    .box_toplogin ul {
        display: block;
    }

    .box_toplogin ul li:first-of-type {
        margin-right: 0;
        margin-bottom: 10px;
    }

    .section_accinfo .box_accinfo {
        padding: 0 10px;
    }

    .section_accinfo h4 {
        margin-left: -15px;
        margin-right: -15px;
    }

    .section_accinfo p.head {
        margin-left: 0;
    }

    .section_accinfo .btnedit {
        margin-right: 0;
    }

    .frm_accinfo h4 {
        margin-left: -15px;
        margin-right: -15px;
    }

    .section_new_property {
        background: #fff;
    }

    .section_near_property {
        position: relative;
    }

    .section_near_property:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        margin: auto;
        width: 90%;
        height: 1px;
        background: #BDBDBD;
    }

    .section_near_property.custom:before {
        display: none;
    }

    .box_renovation_specifications .renovation_specifications_table .table th {
        font-size: 0.5625em;
    }

    .box_renovation_specifications .renovation_specifications_table .table td {
        font-size: 0.75em;
    }

    .section_searh .box_searchby ul li {
        margin-right: 5px;
        margin-bottom: 5px;
        min-width: 31.33%;
    }

    .section_searh .box_searchby ul li a {
        padding: 3px 5px;
    }
}

@media (max-width: 414px) {
    .dropdown_user .dropdown_user_content {
        min-width: 416px;
    }

    .dropdown_search .dropdown_search_content {
        min-width: 425px;
    }
}

@media (max-width: 375px) {
    .dropdown_user .dropdown_user_content {
        min-width: 375px;
    }

    .dropdown_search .dropdown_search_content {
        min-width: 385px;
    }

    footer .footer_bottom .btn {
        padding-left: 10px;
        padding-right: 10px;
    }

    .section_property_main .box_calcu .frm_calcu .repayment_amount {
        max-width: 145px;
    }
}

@media (max-width: 320px) {
    .dropdown_user .dropdown_user_content {
        min-width: 327px;
    }

    .dropdown_search .dropdown_search_content {
        min-width: 327px;
    }

    ul.list_property li .property_img p.total_price {
        font-size: 0.7em;
    }

    .section_banner ul li a {
        font-size: .5em;
    }

    .section_near_property ul.list_property li {
        width: 46.5%;
    }

    footer ul li a {
        font-size: .5em;
    }

    footer ul.footer_logo li:nth-of-type(1) a img {
        width: 66px;
    }

    footer ul.footer_logo li:nth-of-type(2) a img {
        width: 90px;
    }

    footer ul.footer_logo li:nth-of-type(3) a img {
        width: 63px;
    }

    .section_property_main .box_calcu .frm_calcu .form-control {
        max-width: 115px;
    }
}
